.Book {
    display: inline-block;
    flex-basis: 30%;
    margin: 1% 0;
}
.cover-image {
    background-image: url(https://png2.cleanpng.com/sh/ff47216639a6db945a4d13f1bef36e2b/L0KzQYm3VsA2N6t4jJH0aYP2gLBuTfNwdaF6jNd7LXnmf7B6TfluaZhqRdhybHWwdrF5jfF1e15zh59ybXHqdX68gsE3bpc1fKk7MXPmQXA5UcM1OmE1TaMAMki1Q4SAVME1Pmg5RuJ3Zx==/kisspng-computer-icons-image-file-formats-no-image-5b16ff0d721cc1.2134200515282337414674.png);
    background-size: cover;
    min-height: 300px;
}